

*.zip
*.txt

~features_in_progress/*

src/__pycache__/*

src/exports/*
exports/*

src/logs/*
logs/*
FLLC-Q_Log.txt

output.csv
output.md
tasks.py
build/main/Analysis-00.toc
build/main/EXE-00.toc
build/main/main.pkg
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/PYZ-00.toc
build/main/xref-main.html
build/main/localpycs/pyimod01_archive.pyc
build/main/localpycs/pyimod02_importers.pyc
build/main/localpycs/pyimod03_ctypes.pyc
build/main/localpycs/pyimod04_pywin32.pyc
build/main/localpycs/struct.pyc
dist/main.exe
dist/exports/grid_optimal_schedule.xlsx
dist/exports/optimal_schedule.csv
dist/exports/q_table.csv
dist/exports/training_schedules_output/schedule_episode_1.csv
dist/exports/training_schedules_output/schedule_episode_2.csv
dist/exports/training_schedules_output/schedule_episode_3.csv
dist/exports/training_schedules_output/schedule_episode_4.csv
dist/exports/training_schedules_output/schedule_episode_5.csv
dist/exports/training_schedules_output/schedule_episode_6.csv
dist/exports/training_schedules_output/schedule_episode_7.csv
dist/exports/training_schedules_output/schedule_episode_8.csv
dist/exports/training_schedules_output/schedule_episode_9.csv
dist/exports/training_schedules_output/schedule_episode_10.csv
dist/exports/training_schedules_output/schedule_episode_11.csv
dist/exports/training_schedules_output/schedule_episode_12.csv
dist/exports/training_schedules_output/schedule_episode_13.csv
dist/exports/training_schedules_output/schedule_episode_14.csv
dist/exports/training_schedules_output/schedule_episode_15.csv
dist/exports/training_schedules_output/schedule_episode_16.csv
dist/exports/training_schedules_output/schedule_episode_17.csv
dist/exports/training_schedules_output/schedule_episode_18.csv
dist/exports/training_schedules_output/schedule_episode_19.csv
dist/exports/training_schedules_output/schedule_episode_20.csv
dist/exports/training_schedules_output/schedule_episode_21.csv
dist/exports/training_schedules_output/schedule_episode_22.csv
dist/exports/training_schedules_output/schedule_episode_23.csv
dist/exports/training_schedules_output/schedule_episode_24.csv
dist/exports/training_schedules_output/schedule_episode_25.csv
main.spec
src/q_learning_temp_refactor.py
src/q_learning_temp_refactor copy.py
src_two/main.py
src copy/config.py
src copy/data_to_csv.py
src copy/gui_signals.py
src copy/main.py
src copy/q_learning_temp_refactor.py
src copy/q_learning.py
src copy/time_data.py
src copy/tournament_data.py
src copy/training_thread.py
src copy/utilities_qlearning.py
src copy/utilities_time.py
src copy/__pycache__/config.cpython-312.pyc
src copy/__pycache__/data_to_csv.cpython-312.pyc
src copy/__pycache__/descriptive_stats.cpython-312.pyc
src copy/__pycache__/gui_signals.cpython-312.pyc
src copy/__pycache__/q_learning.cpython-312.pyc
src copy/__pycache__/schedule_data.cpython-312.pyc
src copy/__pycache__/schedule_evaluator.cpython-312.pyc
src copy/__pycache__/time_data.cpython-312.pyc
src copy/__pycache__/tournament_data.cpython-312.pyc
src copy/__pycache__/training_thread.cpython-312.pyc
src copy/__pycache__/utilities_qlearning.cpython-312.pyc
src copy/__pycache__/utilities_time.cpython-312.pyc
src_two/*
src_two/main_window.py
